<%= form_with(model: workflow) do |form| %>
  <% if workflow.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(workflow.errors.count, "error") %> prohibited this workflow from being saved:</h2>

      <ul>
        <% workflow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div data-controller="bpmn--modeler" data-bpmn--modeler-xml-value="<%= workflow.data %>">
    <%= form.label :data, style: "display: block; margin-top: 20px" %>
    <%= form.hidden_field :data, data: { bpmn__modeler_target: "xmlOutput" } %>
    <div data-bpmn--modeler-target="container" style="height: 800px; border: 1px solid black; margin-top: 5px"></div>
  </div>

  <div>
    <%= form.submit style: "margin-top: 20px" %>
  </div>
<% end %>
